
params {
    bam = "../40502_B01_OPXv6_ND0364.final.bam"
    command_file = "test/commands.bat"
    output = "."

}

profiles {

    standard {
        workDir = "work"
        resume = true  // null for no resume
        docker {
            enabled = true
        }
        process {
            executor = 'local'
        }
    }
}