
params {
    bam = "../40502_B01_OPXv6_ND0364.final.bam"
    command_file = "test/commands.bat"
    output = "."

}

profiles {

    standard {
        workDir = "work"
        resume = true  // null for no resume
        docker {
            enabled = true
        }
        process {
            executor = 'local'
        }
    }

    uw_batch {
        process {
            scratch = "/docker_scratch"
            queue = 'ngs-queue'
            executor = 'awsbatch'
        }
        aws {
            region = 'us-west-2'
            batch {
                volumes = '/docker_scratch'
                cliPath = '/home/ec2-user/miniconda/bin/aws'
            }
        }
    }
}